.body_style {font-family: "Roboto", sans-serif;
    color: #434455
        
            
    
;}
.logo_link {text-decoration: none;
            font-family:'Raleway', sans-serif ;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            color:#4d5ae5 ;
            text-transform: uppercase;
            }
.logotext { font-family:"Roboto", sans-serif ;
    color: #434455;
    margin-right: 76px;
}
.ul_style {font-weight: 500;
     line-height: 1.5;
            letter-spacing: 0.02em;
            font-size: 16px;
            list-style: none;
            font-weight: 500;
            display: flex;
            gap: 40px;
            padding-top: 24px;
            padding-bottom: 24px;}

.link_color {color:#434455;
text-decoration: none;

display: flex;
gap: 40px;}
.link_colortwo{color: #2e2f42;}
a:hover   {color:#404bbf}
a:active  {color:#404bbf}
a:focus   {color: #404bbf;}

.contact  { font-style: normal;
        
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

    .head{font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    letter-spacing: 0.02em;
color: #2e2f42;

}

    
    
    
    
    
    

.texts {line-height: 1.5;
    letter-spacing: 0.02em;
text-align: center;}
    
    
.ul_style2{list-style: none;}
.section2{display: flex;
gap: 24px
;
margin-right: 24px;}
.li-style{width: calc(100%-72px);}

.sectionthree{background-color:#F4F4FD ;
padding-top: 120px;
padding-bottom: 120px;}

.sectionthreehead{font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
    margin-bottom: 72px;}

.ul_style3{list-style: none;
    display: flex;
    gap: 24px;
    margin-right: 24px;
    text-align: center;
    margin-bottom: 8px;

}
.sectionthreelist{background-color: #ffffff;
width: calc(100%-72px);
border-radius: 0px 0px 4px;}
.firs-area{ 
        background-color: #2e2f42 ;
    padding: 188px 0;}
        .head-style{ max-width: 496px;
                font-size: 56px;
                line-height: 1.07;
                text-align: center;
                letter-spacing: 0.02em;
                color:#ffffff ;
                display: flex;
                
                
                
                
           
        }
                .button {background-color:#4D5AE5;
                        font-family: "Roboto", sans-serif ;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        color:#ffffff ;
                        cursor: pointer;
                    display: block; 
                min-width: 169px;
            height: 56px;
        border: none;
    border-radius: 4px;
    
    
}
                .hvr:hover {background-color: #404BBF
                }        
                .hvr:focus{background-color: #404BBF}
                .section2{list-style: none;}
    .footer{line-height: 1.5;
           letter-spacing: 0.02em;
        color:#f4f4fd; }
.section-two {padding-top: 120px; padding-bottom: 120px;}  
.hidden-head{ visibility: hidden ;}
.head {margin-bottom: 8px;}

        